@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


#mainContainer {
    padding: 10px;
}

#mainContainer>p {
    font-family: Lobster;
}

div:nth-child(2) {
    border-color: black;
    border-width: 3px;
}

li {
    padding: 8px;
    list-style-position: inside;
}

li:nth-child(even) {
    background-color: #87CEEB;
}

li:nth-child(2),
li:nth-child(4) {
    background-color: #87CEEB;
}

.list-container {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

p:nth-child(1) {
    font-weight: bold;
}

#mainContainer>p::first-letter {
    color: orange;
}

.list-container>p {
    font-weight: bold;
}

#mainContainer>p {
    font-style: italic;
}

li {
    list-style-type: decimal;
}

li:nth-child(1) {
    text-decoration: line-through;
}